$background-navs: #f5f5f5;

$color-icon: #292929;
$color-border: #ececec;
$color-focus: #6797ff;
$box-shadow: #dedede;

$em-a: 3.75em;
$em-b: 2.5em;
$em-c: 0.5em;
$em-d: 2.8125rem;

$transition-efect: 300ms;
